In [67]:
import numpy as np
import pandas as pd
from sklearn.impute import *
from scipy.stats import *
from sklearn.linear_model import *
from sklearn.preprocessing import *
from sklearn.pipeline import *
from sklearn.feature_selection import *
from sklearn.datasets import *
from sklearn.model_selection import *
%matplotlib inline
from matplotlib import pyplot as plt 
from sklearn.metrics import *

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
df_train = pd.read_csv('train-2.csv', converters={'features': eval})
df_test = pd.read_csv('test-2.csv', converters={'features': eval})
display(df_train.shape)
display(df_test.shape)

(34546, 16)

(14806, 15)

In [4]:
df = pd.concat([df_train, df_test])
display(df.shape)
display(df)

(49352, 16)

,Id,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,TARGET
0,57094,1.0,3,0,2016-05-19 18:06:27,A FABULOUS 3BR IN MIDTOWN WEST! PERFECT APAR...,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"[Laundry In Unit, No Fee, Elevator]",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
1,33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,Renovated Kitchen and Bathroom!,55 River Drive South,"[Dogs Allowed, Cats Allowed, No Fee]",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
2,60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,RARE AND BEST DEAL ON THE MARKET!!!! PERFECT S...,W 77 Street,"[Elevator, Hardwood Floors]",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low
3,53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,Newly renovated flex 2 apartment offers the ne...,John Street,"[Swimming Pool, Doorman, Elevator, Fitness Cen...",40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,low
4,592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,LOW FEE apartments do not come around like thi...,West 16th Street,"[Laundry in Building, Laundry in Unit, Dishwas...",40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14801,8577,1.0,1,d9586931e798234e400f348bccaf5215,2016-06-21 04:28:08,,50th Ave,"[Elevator, Fitness Center, Cats Allowed, Dogs ...",40.7437,7190465,-73.9585,918acb34f159aeefe0b829a53ed6179c,[],3420,2-01 50th Ave,NaN
14802,91314,1.0,2,f14c5a7d9fd514887b772e2b6a4ef513,2016-04-15 12:22:48,NO BROKER FEE! LUXURY FULL SERVICE MID-RISE ...,W-27St,"[Common Outdoor Space, Laundry In Unit, Cats A...",40.7490,6880034,-73.9991,b86f058ac6fd8bf03193369be9e0d396,['https://photos.renthop.com/2/6880034_533ce59...,4200,303 10TH AVE,NaN
14803,38696,1.0,2,61d667a0541bab54f1d19d12601d6855,2016-06-12 09:22:19,"Check Out This Lovely, Sunny & Large 2...",Carlton St,[],40.7238,7148415,-73.8623,605757e0108c66606280905d76d50e80,['https://photos.renthop.com/2/7148415_d4d4c4f...,1800,63-145 Carlton St,NaN
14804,64331,1.0,1,80a120d6bc3aba97f40fee8c2204524b,2016-05-21 02:57:07,Located in the fast-paced Financial District o...,Water,"[Roof Deck, Doorman, Elevator, Fitness Center,...",40.7075,7047583,-74.0043,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7047583_80f69a3...,3325,200 Water,NaN
14805,82599,1.0,0,70093585319d049535fdc64e4f387da3,2016-05-03 05:30:13,**Marvelous NO FEE studio with FREE RENT unit ...,W St,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7100,6958612,-74.0143,30a7951cfc21240e8c46b2d079d292e5,['https://photos.renthop.com/2/6958612_52d0a93...,2345,90 W St,NaN

In [5]:
df = df.rename(str.lower, axis='columns',)
df = df.set_index('id')
display(df)

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,target
id,,,,,,,,,,,,,,,
57094,1.0,3,0,2016-05-19 18:06:27,A FABULOUS 3BR IN MIDTOWN WEST! PERFECT APAR...,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"[Laundry In Unit, No Fee, Elevator]",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,Renovated Kitchen and Bathroom!,55 River Drive South,"[Dogs Allowed, Cats Allowed, No Fee]",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,RARE AND BEST DEAL ON THE MARKET!!!! PERFECT S...,W 77 Street,"[Elevator, Hardwood Floors]",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low
53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,Newly renovated flex 2 apartment offers the ne...,John Street,"[Swimming Pool, Doorman, Elevator, Fitness Cen...",40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,low
592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,LOW FEE apartments do not come around like thi...,West 16th Street,"[Laundry in Building, Laundry in Unit, Dishwas...",40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8577,1.0,1,d9586931e798234e400f348bccaf5215,2016-06-21 04:28:08,,50th Ave,"[Elevator, Fitness Center, Cats Allowed, Dogs ...",40.7437,7190465,-73.9585,918acb34f159aeefe0b829a53ed6179c,[],3420,2-01 50th Ave,NaN
91314,1.0,2,f14c5a7d9fd514887b772e2b6a4ef513,2016-04-15 12:22:48,NO BROKER FEE! LUXURY FULL SERVICE MID-RISE ...,W-27St,"[Common Outdoor Space, Laundry In Unit, Cats A...",40.7490,6880034,-73.9991,b86f058ac6fd8bf03193369be9e0d396,['https://photos.renthop.com/2/6880034_533ce59...,4200,303 10TH AVE,NaN
38696,1.0,2,61d667a0541bab54f1d19d12601d6855,2016-06-12 09:22:19,"Check Out This Lovely, Sunny & Large 2...",Carlton St,[],40.7238,7148415,-73.8623,605757e0108c66606280905d76d50e80,['https://photos.renthop.com/2/7148415_d4d4c4f...,1800,63-145 Carlton St,NaN
64331,1.0,1,80a120d6bc3aba97f40fee8c2204524b,2016-05-21 02:57:07,Located in the fast-paced Financial District o...,Water,"[Roof Deck, Doorman, Elevator, Fitness Center,...",40.7075,7047583,-74.0043,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7047583_80f69a3...,3325,200 Water,NaN
82599,1.0,0,70093585319d049535fdc64e4f387da3,2016-05-03 05:30:13,**Marvelous NO FEE studio with FREE RENT unit ...,W St,"[Doorman, Elevator, Laundry in Building, Dishw...",40.7100,6958612,-74.0143,30a7951cfc21240e8c46b2d079d292e5,['https://photos.renthop.com/2/6958612_52d0a93...,2345,90 W St,NaN

In [6]:
y = df_train['TARGET']
y.shape

(34546,)

In [7]:
df['description'] = df['description'].str.lower()
df.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,target
id,,,,,,,,,,,,,,,
57094,1.0,3,0,2016-05-19 18:06:27,a fabulous 3br in midtown west! perfect apar...,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"[Laundry In Unit, No Fee, Elevator]",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,renovated kitchen and bathroom!,55 River Drive South,"[Dogs Allowed, Cats Allowed, No Fee]",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,rare and best deal on the market!!!! perfect s...,W 77 Street,"[Elevator, Hardwood Floors]",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low
53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,newly renovated flex 2 apartment offers the ne...,John Street,"[Swimming Pool, Doorman, Elevator, Fitness Cen...",40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,low
592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,low fee apartments do not come around like thi...,West 16th Street,"[Laundry in Building, Laundry in Unit, Dishwas...",40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,low

In [8]:
def remove_trash(cur_str):
    cur_str = str(cur_str)
    nw_str = ""
    for elem in cur_str:
        if (elem >= 'a' and elem <= 'z') or elem == ' ':
            nw_str += elem

    return nw_str.split(' ')

df['description'] = df['description'].apply(remove_trash)
df.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,target
id,,,,,,,,,,,,,,,
57094,1.0,3,0,2016-05-19 18:06:27,"[a, fabulous, br, in, midtown, west, , , perfe...",HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"[Laundry In Unit, No Fee, Elevator]",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,"[renovated, kitchen, and, bathroom]",55 River Drive South,"[Dogs Allowed, Cats Allowed, No Fee]",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,"[rare, and, best, deal, on, the, market, perfe...",W 77 Street,"[Elevator, Hardwood Floors]",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low
53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,"[newly, renovated, flex, , apartment, offers, ...",John Street,"[Swimming Pool, Doorman, Elevator, Fitness Cen...",40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,low
592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,"[low, fee, apartments, do, not, come, around, ...",West 16th Street,"[Laundry in Building, Laundry in Unit, Dishwas...",40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,low

In [10]:
from all_the_way import *
set_description_json(df, y)

bitch

In [12]:
description_words_weight = None
with open('description.json', 'r') as json_file:
    description_words_weight = json.load(json_file)

In [13]:
def words_weight(x):
    res = 0.0
    for word in x:
        if word in description_words_weight:
            res += description_words_weight[word]
    if len(x) > 0:
        res /= len(x)
    return res

df['description'] = df['description'].apply(words_weight)
df.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,target
id,,,,,,,,,,,,,,,
57094,1.0,3,0,2016-05-19 18:06:27,0.153092,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,"[Laundry In Unit, No Fee, Elevator]",40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,0.214983,55 River Drive South,"[Dogs Allowed, Cats Allowed, No Fee]",40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,0.149183,W 77 Street,"[Elevator, Hardwood Floors]",40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low
53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,0.152593,John Street,"[Swimming Pool, Doorman, Elevator, Fitness Cen...",40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,low
592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,0.143985,West 16th Street,"[Laundry in Building, Laundry in Unit, Dishwas...",40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,low

In [15]:
from all_the_way import set_features_json
set_features_json(df, y)

0.0024736383096804885

In [16]:
features_words_weight = None
with open('features.json', 'r') as json_file:
    features_words_weight = json.load(json_file)

In [17]:
def features_weight(x):
    res = 0.0
    for word in x:
        word = str.lower(word)
        if word in features_words_weight:
            res += features_words_weight[word]
    if len(x) > 0:
        res /= len(x)
    return res

#display(features_weight(df.iloc[0, 6]))
df['features'] = df['features'].apply(features_weight)
df.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address,target
id,,,,,,,,,,,,,,,
57094,1.0,3,0,2016-05-19 18:06:27,0.153092,HOW AMAZING IS THIS MIDTOWN WEST STEAL!! NO FE...,0.002117,40.7647,7039994,-73.9918,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/7039994_07be01b...,4495,W 50 & AVE 10,medium
33389,1.0,1,9225efdfb57a50bf3ec17ebab082f94a,2016-06-16 02:01:49,0.214983,55 River Drive South,0.001945,40.7275,7166774,-74.0322,e5808a5e6cc13988fe596704428d38d5,['https://photos.renthop.com/2/7166774_03cf63a...,2570,55 River Drive South,medium
60458,1.0,0,320de7d3cc88e50a7fbbcfde1e825d21,2016-05-04 02:42:50,0.149183,W 77 Street,0.002076,40.7798,6962716,-73.9751,d69d4e111612dd12ef864031c1148543,['https://photos.renthop.com/2/6962716_ec7f56f...,1795,22 W 77 Street,low
53048,1.0,2,ce6d18bf3238e668b2bf23f4110b7b67,2016-05-12 05:57:56,0.152593,John Street,0.001974,40.7081,7002458,-74.0065,e6472c7237327dd3903b3d6f6a94515a,['https://photos.renthop.com/2/7002458_93f4010...,3400,100 John Street,low
592,1.0,3,fee4d465932160318364d9d48d272879,2016-06-16 06:06:15,0.143985,West 16th Street,0.002158,40.7416,7170465,-74.0025,6fba9b3a8327c607b8b043716efee684,['https://photos.renthop.com/2/7170465_9c3f173...,5695,321 West 16th Street,low

In [18]:
df.drop(['building_id', 'created', 'display_address', 'latitude', 'listing_id', 'longitude', 'manager_id', 'photos', 'street_address'], inplace = True, axis = 1)
df.head()

       bathrooms  bedrooms  description  features  price  target
id
57094        1.0         3     0.153092  0.002117   4495  medium
33389        1.0         1     0.214983  0.001945   2570  medium
60458        1.0         0     0.149183  0.002076   1795     low
53048        1.0         2     0.152593  0.001974   3400     low
592          1.0         3     0.143985  0.002158   5695     low

In [53]:
mms = MinMaxScaler()
sc = StandardScaler()
df[['description', 'features']] = mms.fit_transform(df[['description', 'features']])
df[['bathrooms', 'bedrooms', 'price']] = mms.fit_transform(df[['bathrooms', 'bedrooms', 'price']])
df

       bathrooms  bedrooms  description  features     price  target
id
57094  -0.423163  1.307938     0.229637  0.211696  0.030128  medium
33389  -0.423163 -0.485772     0.322474  0.194492 -0.057108  medium
60458  -0.423163 -1.382628     0.223774  0.207620 -0.092229     low
53048  -0.423163  0.411083     0.228889  0.197394 -0.019494     low
592    -0.423163  1.307938     0.215978  0.215843  0.084509     low
...          ...       ...          ...       ...       ...     ...
8577   -0.423163 -0.485772     0.000000  0.172130 -0.018588     NaN
91314  -0.423163  0.411083     0.248911  0.214244  0.016760     NaN
38696  -0.423163  0.411083     0.213658  0.000000 -0.092002     NaN
64331  -0.423163 -0.485772     0.248394  0.205654 -0.022893     NaN
82599  -0.423163 -1.382628     0.230265  0.205565 -0.067304     NaN

[49352 rows x 6 columns]

In [54]:
gdf_train = df[:df_train.shape[0]]
gdf_train

        bathrooms  bedrooms  description  features     price  target
id
57094   -0.423163  1.307938     0.229637  0.211696  0.030128  medium
33389   -0.423163 -0.485772     0.322474  0.194492 -0.057108  medium
60458   -0.423163 -1.382628     0.223774  0.207620 -0.092229     low
53048   -0.423163  0.411083     0.228889  0.197394 -0.019494     low
592     -0.423163  1.307938     0.215978  0.215843  0.084509     low
...           ...       ...          ...       ...       ...     ...
25582   -0.423163 -0.485772     0.246222  0.333333 -0.085204     low
50013   -0.423163 -1.382628     0.207832  0.203218 -0.055748  medium
111475   1.571195  0.411083     0.161237  0.000000  0.057998     low
71184   -0.423163  0.411083     0.220793  0.186526 -0.019494  medium
117473  -0.423163  0.411083     0.133569  0.000000 -0.039887  medium

[34546 rows x 6 columns]

In [55]:
gdf_test = df[df_train.shape[0]:]
gdf_test.drop('target', inplace=True, axis=1)
gdf_test

        bathrooms  bedrooms  description  features     price
id
19477    1.571195  1.307938     0.231178  0.203609  0.038285
29937   -0.423163  0.411083     0.223694  0.000000 -0.078407
109148  -0.423163  0.411083     0.201731  0.168056 -0.046685
65728    1.571195  1.307938     0.295607  0.400817  0.075672
33623   -0.423163  1.307938     0.218238  0.218444  0.007469
...           ...       ...          ...       ...       ...
8577    -0.423163 -0.485772     0.000000  0.172130 -0.018588
91314   -0.423163  0.411083     0.248911  0.214244  0.016760
38696   -0.423163  0.411083     0.213658  0.000000 -0.092002
64331   -0.423163 -0.485772     0.248394  0.205654 -0.022893
82599   -0.423163 -1.382628     0.230265  0.205565 -0.067304

[14806 rows x 5 columns]

In [137]:
data_y_train = gdf_train['target']
data_X_train = gdf_train.drop('target', axis=1)
data_y_train = data_y_train.map({'low': 1, 'medium': 2, 'high': 3})
display(data_X_train)
display(data_y_train)

        bathrooms  bedrooms  description  features     price
id
57094   -0.423163  1.307938     0.229637  0.211696  0.030128
33389   -0.423163 -0.485772     0.322474  0.194492 -0.057108
60458   -0.423163 -1.382628     0.223774  0.207620 -0.092229
53048   -0.423163  0.411083     0.228889  0.197394 -0.019494
592     -0.423163  1.307938     0.215978  0.215843  0.084509
...           ...       ...          ...       ...       ...
25582   -0.423163 -0.485772     0.246222  0.333333 -0.085204
50013   -0.423163 -1.382628     0.207832  0.203218 -0.055748
111475   1.571195  0.411083     0.161237  0.000000  0.057998
71184   -0.423163  0.411083     0.220793  0.186526 -0.019494
117473  -0.423163  0.411083     0.133569  0.000000 -0.039887

[34546 rows x 5 columns]

id
57094     2
33389     2
60458     1
53048     1
592       1
         ..
25582     1
50013     2
111475    1
71184     2
117473    2
Name: target, Length: 34546, dtype: int64

In [138]:
X_train, X_test, y_train, y_test = train_test_split(data_X_train, data_y_train, test_size = 0.2)

In [139]:
log_reg = LogisticRegression() 
log_reg.fit(X_train, y_train)

LogisticRegression()

In [140]:
y_pred = log_reg.predict(X_test)
y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [141]:
cnt = 0
for elem in y_test:
    if elem != 1:
        cnt += 1
cnt

2054

In [142]:
accuracy_score(y_test, y_pred)

0.7219971056439942

In [143]:
y_const = np.ones(len(y_test))
accuracy_score(y_test, y_const)

0.7027496382054993

In [144]:
big_test_y = log_reg.predict(gdf_test)
big_test_y

array([1, 1, 1, ..., 1, 1, 1])

In [145]:
log_reg = LogisticRegression() 
log_reg.fit(data_X_train, data_y_train)
submission = pd.DataFrame(gdf_test.index)
submission['TARGET'] = log_reg.predict(gdf_test)
submission['TARGET'] = submission['TARGET'].map({1: 'low', 2: 'medium', 3: 'high'})
submission.to_csv('submission.csv', index=False)

In [106]:
lasso = Lasso()
display(y_train.reset_index()['target'])
lasso.fit(X_train, y_train.reset_index()['target'])
y_pred_lasso = lasso.predict(X_test)
display(y_pred_lasso[:30])
accuracy_score(y_test, y_pred_lasso)

0        1
1        2
2        1
3        2
4        2
        ..
29359    2
29360    1
29361    2
29362    1
29363    1
Name: target, Length: 29364, dtype: int64

array([1.38267947, 1.38267947, 1.38267947, 1.38267947, 1.38267947,
       1.38267947, 1.38267947, 1.38267947, 1.38267947, 1.38267947,
       1.38267947, 1.38267947, 1.38267947, 1.38267947, 1.38267947,
       1.38267947, 1.38267947, 1.38267947, 1.38267947, 1.38267947,
       1.38267947, 1.38267947, 1.38267947, 1.38267947, 1.38267947,
       1.38267947, 1.38267947, 1.38267947, 1.38267947, 1.38267947])

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [108]:
ridge = Ridge()
ridge.fit(X_train, y_train)
y_pred_ridge = ridge.predict(X_test)
accuracy_score(y_test, y_pred_ridge)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets